a {
  color:black;
  font-style: oblique;
}

#head{
  background-color: #488AC7;
}

#body{
  background-color: #488AC7;
  font-style: oblique;
  font-size:
}

body{
  #background-color: #488AC7;
  font-style: oblique;
}
