<!DOCTYPE html>
<html>
  <head>
    <div id=head>
      <meta charset="utf-8">
      {% load static %}
	    <title>Todolist</title>
      <header style="">
        <h1><b>ToDo</b></h1>
        <hr>
      </header>
    </div>
  </head>
<body >
  <div id="list">
<p><strong>Your list</strong></p>
  </div>
<div>

</div>




<style type="text/css">
body{
  font-style:#;
  font-size:13px;
  color:black;
  background-color:;
  width: 100%;
  text-decoration: none;

}

#addb{
  text-align:;
}

#list{
  text-align: center;
  font-size: 30px;
}

header{
  background-color: #008080;
  color: #F3E5AB;
  text-align: center;

}

footer{
  text-align: center;
  background-color: #008080;
  height: 50px ;
  width: 100%;
  color: black;
}











</style>
